# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Idea
/.idea
#
*.iml
/src/nz/ac/vuw/ecs/swen225/gp30/recnplay/record*
/out

/bin/
